* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    width: 80vw;
    height: 90vh;
}

.header-top {
    border: 1px solid green;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top > button {
    margin: 0;
}

.header-sort {
    border: 1px solid red;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-sort > button {
    margin: 0;
}

.note-container {
    border: 1px solid blue;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}

.note-element {
    width: 33%; /* check if better solution */
}
