* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --outer-background: #f5f5f5;
    --background: white;
}

.alternative {
    --outer-background: black;
    --background: grey;
}

html {
    height: 100vh;
    background-color: var(--outer-background);
    font-family: Gill Sans Extrabold, sans-serif;
}

body {
    width: 80vw;
    max-width: 1500px;
    height: 90vh;
    margin-top: 3rem;
    background-color: var(--background);
}

.header-top {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top > button {
    width: 10rem;
    height: 4rem;
    margin: 5rem 1rem 5rem 1rem;
    border-radius: 5px;
}

.header-top > button:first-child {
    width: 10rem;
    height: 4rem;
    margin: 5rem 1rem 5rem 1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.header-sort {
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-sort > button {
    margin: 0;
    width: 20rem;
    height: 2rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.header-sort > button:last-child {
    margin-left: auto;
    margin-right: 1rem;
}

.header-sort > button:first-child {
    margin-left: 1rem;
}

main {
    height: 70vh;
}

.note-list {
    height: 100%;
    overflow-y: scroll;
}

.note-item {
    height: 20vh;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        'due-day title-container title-container button-container'
        'checkbox-form textarea textarea button-container';
}

.due-day {
    grid-area: due-day;

}

.title-container {
    grid-area: title-container;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-container h2 {
    margin: 0;
}

.importance-container {
    display: flex;
    margin: 0;
}

.button-container {
    grid-area: button-container;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.button-container button {
    height: 50%;
    width: 25%;
    margin: 0;
}

.checkbox-form {
    grid-area: checkbox-form;
}

.textarea {
    grid-area: textarea;
    resize: none;
    width: 100%;
    height: 100%;
}
