* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

:root {
    --outer-background: #f5f5f5;
    /*--background: linear-gradient(#d4b68e, #4c3638);*/
    /*--background: linear-gradient(#c79081, #dfa579);*/
    --background: linear-gradient(#decba4, #3e5151);
    --button-color: #6c3347;
    --button-hover: #6c3347;
    --textarea-background-color: white;
    --box-shadow: 20px 12px 33px rgba(16, 15, 15, 0.75);
    --post-it-pink: #f9a9c6;
    --post-it-yellow: #ffc;
    --post-it-blue: #6ecef6;
}

.alternative {
    --outer-background: #1f2933;
    --background: linear-gradient(#141e30, #243b55);
    --button-color: #0e6f65;
    --button-background-color: #1ddecb;
    --button-hover: #12877c;
    --textarea-background-color: #9aa5b1;
    --box-shadow: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--outer-background);
}

.notes-view {
    height: 100%;
}

.header-top {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 6px -4px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

button {
    background-color: var(--button-background-color);
    border: 2px solid var(--button-color);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.header-top button {
    margin: 1rem;
}

button:hover {
    background-color: var(--button-hover);
    color: var(--outer-background);
}

.header-sort {
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 6px -4px black;
}

.header-sort > button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sort > button > img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.header-sort > button:last-child {
    margin-left: auto;
    margin-right: 1rem;
}

.header-sort > button:first-child {
    margin-left: 1rem;
}

main {
    width: 80vw;
    max-width: 1500px;
    height: 95vh;
    background-image: var(--background);
    border-radius: 20px;
    overflow: hidden;
}

.note-list {
    height: 75vh;
    overflow-y: scroll;
    box-shadow: 0 0 6px -4px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.note-list::-webkit-scrollbar {
    width: 1em;
}

.note-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.note-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.empty-notelist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.note-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.note-item:nth-child(even) .edit-note .title-container {*/
/*    background: #F9A9C6;*/
/*}*/

.edit-note {
    height: 20vh;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    padding-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-image: url('../assets/desk.jpeg');
    background-size: cover;
    grid-template-areas:
        'due-day title-container title-container button-container'
        'checkbox-form textarea textarea button-container';
}

.due-day {
    grid-area: due-day;
}

.dueday-container {
    display: flex;
    flex-direction: column;
}

.dueday-container > label {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.title-container {
    grid-area: title-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-left: 1rem;
    background: #ffc;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.title-container h2 {
    margin: 0;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
}

.importance-container {
    display: flex;
    margin: 0;
}

.importance-svg {
    width: 30px;
    height: 30px;
    filter: invert(0.9);
}

.importance-svg.bold {
    filter: none;
}

#create-importance > .importance-svg:hover {
    filter: none;
}

.button-container {
    grid-area: button-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.button-container button {
    height: 4rem;
    width: 9rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-container button:last-child:hover {
    background-color: #d11a2a;
}

.button-container button img {
    height: 1.5rem;
    width: 1.5rem;
}

.checkbox-form {
    grid-area: checkbox-form;
}

.textarea {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    grid-area: textarea;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 5px 11px 7px rgba(33, 33, 33, 0.7);
}

.textarea::-webkit-scrollbar {
    display: none;
}

.create-note-container {
    height: 100%;
    background-image: url("../assets/desk.jpeg");
    background-size: cover;
}

.create-note {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    width: 80%;
}

.create-note > div {
    margin: 0;
    display: flex;
    align-items: flex-start;
}

form > div > label {
    margin: 0;
    width: 20%;
}

.form-content-container {
    height: 40%;
}

.form-content-labels {
    margin: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-content-labels > label {
    margin: 1rem 0 2rem 0;
}

.form-content {
    margin: 0;
    height: 100%;
    width: 100%;
}

#create-title {
    margin: 0;
    width: 70%;
    height: 15%;
    border-radius: 5px 5px 0 0;
    padding-left: 1rem;
    box-shadow: 5px 12px 7px rgba(33, 33, 33, 0.7);
    outline: none;
    border: none;
    border-bottom: 1px dashed grey;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
}

#create-description {
    margin: 0;
    width: 70%;
    height: 85%;
    border-radius: 0 0 5px 5px;
    padding: 1rem;
    box-shadow: 5px 11px 7px rgba(33, 33, 33, 0.7);
    border: none;
    outline: none;
    resize: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
}

#create-importance {
    margin: 0;
}

#create-date {
    margin: 0;
    background-color: var(--textarea-background-color);
}

.save-button {
    width: 100%;
    background-color: #925a6c;
}

.cancel-button {
    display: flex;
    justify-content: flex-end;
}

#cancel-button {
    margin: 0;
}

[class*="pink"] {
    background: var(--post-it-pink);
}

[class*="yellow"] {
    background: var(--post-it-yellow);
}

[class*="blue"] {
    background: var(--post-it-blue);
}
